:root {
   --color-primary: #6366f1;
   --color-primary-dark: #4f46e5;
   --color-secondary: #8b5cf6;
   --color-accent: #06b6d4;
   --color-bg-dark: #0f172a;
   --color-bg-darker: #020617;
   --color-text-light: #e2e8f0;
   --color-text-muted: #94a3b8;

   --gradient-primary: linear-gradient(
      90deg, #6366f1, #8b5cf6);
}
.lexend-deca-Font {
   font-family: "Lexend Deca", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Lexend Deca', sans-serif;
}

section {
   scroll-margin-top: 60px;
   background: #020617;
   padding-top: 60px;
   padding-bottom: 80px;
}

/* =======================
   NAVBAR
======================= */
.navbar {
   position: fixed;
   background: transparent;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 50px 10px 50px;
   /* display: flex; */
   /* justify-content: space-between; *//* flex-end */
   align-items: center;
   z-index: 100;
   color: var(--color-text-light);
   background: rgba(2, 6, 23, 0.65);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-bottom: 1px solid rgba(99, 102, 241, 0.15);
   transition: all 0.4s ease
}

.nav-links a {
   color: #e2e8f0;
   position: relative;
   text-decoration: none;
   margin-left: 20px;
}

.nav-links a::before {
   content: '';
   position: absolute;
   top: 100%;
   left: 0;
   width: 0;
   height: 2px;
   background: var(--gradient-primary);
   transition: .3s;
}

.nav-links a:hover::before {
   width: 100%;
}

.neon-purple{
   background: linear-gradient(to right, #6366f1, #8b5cf6);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 20px;
}

.navbar-toggler{
   border :none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
   outline: none;
   box-shadow: none;
}

.navbar-toggler-icon {
   filter: invert(1);/* blanco */
}

/* =======================
   MAIN
======================= */
main {
   padding-top: 100px;
   padding-bottom: 80px;
   min-height: 100vh;
   background: linear-gradient(to bottom right, #1e1b4b, #020617, #4c1d95);

}

main .presentation{
   color: #04d9ff;
   font-size: 1.5rem;
   margin-bottom: 8px;
}

main h1, main h4{
   color: #e2e8f0;
}

.text{
   color: #94a3b8;
   font-size: 1rem;
}

.btn-custom {
   border-radius: 13px;
   border-color: #94a3b8;
   color: #94a3b8;
   padding: 12px 32px;
   margin-left: 10px;
}

.btn-custom:hover {
   background: white;
   border-color: white;
   color: #020617;
   transition: all 0.3s ease-out;
}

.btn-Contact {
   background: linear-gradient(to right, #6366f1, #8b5cf6);
   text-decoration: none;
   border-radius: 13px;
   color: #e2e8f0;
   padding: 12px 32px;
   width: 250px;
   margin-right: 10px;
}

.btn-Contact:hover {
   background: linear-gradient(to right, #4f46e5, #7c3aed);
   color: #cbd5e1;
   transition: all 0.3s ease-out;
}

/* =======================
   SECTION GRADIENT
======================= */

.section-Titles{
background: linear-gradient(to right, #6366f1, #8b5cf6);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
/* =======================
   SECCIÓN HABILIDADES
======================= */
.descripcion h1{
   text-align: center;
}

.descripcion p {
   text-align: left;
   color: #94a3b8;
   margin-bottom: 50px;
}

/* =======================
   TARJETAS DE PROYECTOS
======================= */
.card {
   transition: transform 400ms ease;
}

.card:hover {
   transform: translateY(-12px);
}

.card-body{
   background: #192642;
   backdrop-filter: blur(12px);
   border-radius: 1rem;
}

.card-body p{
   color: #e2e8f0;
   text-align: left;
}

.card-body h5 {
   text-align: left;
}

.frontend{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 56px;
   height: 56px;
   background: linear-gradient(135deg, #6366f1, #3b82f6);
   border-radius: 10px;
   margin-bottom: 20px;
}

.frontend i{
   font-size: 29px;
}

.card p {
   color: #94a3b8;
}

.backend{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 56px;
   height: 56px;
   background: linear-gradient(135deg, #a855f7, #ec4899);
   border-radius: 10px;
   margin-bottom: 20px;
}

.backend i{
   font-size: 29px;
}

.databases{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 56px;
   height: 56px;
   background: linear-gradient(135deg, #06b6d4, #14b8a6);
   border-radius: 10px;
   margin-bottom: 20px;
}

.databases i{
   font-size: 29px;
}

.version-control{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 56px;
   height: 56px;
   background: linear-gradient(135deg, #22c55e, #10b981, #06b6d4);
   border-radius: 10px;
   margin-bottom: 20px;
}

.version-control i{
   font-size: 29px;
}

.devops{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 56px;
   height: 56px;
   background: linear-gradient(135deg, #8b5cf6, #a855f7);
   border-radius: 10px;
   margin-bottom: 20px;
}

.devops i{
   font-size: 29px;
}


.col .contenedor-proj{
   background: #192642;
}

.description, .tech-stack {
   text-align: left;
   padding: 10px 10px 0px 10px;
}

.description h4{
   margin-top: 16px;
}

.description p{
   line-height: 1.5;
   margin-bottom: 0px;
}

.card-img img{
   width: 100%;
   height: 200px;
}

.tech-stack {
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
   justify-content: left;
   padding-top: 0px;
}

.tech-item {
   display: inline-flex;
   align-items: center;
   gap: 0.5rem;
   padding: 0.5rem 1rem;
   background: #244780;
   border-radius: 30px;
   color: #e2e8f0;
   font-size: 13px;
   height: 22px;
}

.direcciones{
   margin:  11px 10px 10px 10px;
}

.direcciones i {
   line-height: 1;
   vertical-align: middle;
}

/*
======================= 
CARD EXPERIENCE 
=======================
*/

.card-experience {
   background: #192642;
   width: 80%;
   border: 1px solid #192642;
   margin: 15px auto;
}

.card-experience:hover{
   border: 1px solid #4f46e5;
   transition: all 0.3s ease;
}

.card-title h3{
   color: #e2e8f0;
}

.card-experience strong {
   color: #e2e8f0;
}

.info-row-company{
   color: #818cf8;
}

.info-row{
   color: #94a3b8;
}

.info-row, .info-row-company{
   display: flex;
   align-items: center;
   gap: 0.7rem;
   margin-bottom: 0.35rem;
}

.info-row.highlight {
   color: #04d9ff;
   margin-top: 1rem;
   margin-bottom: 0.6rem;
}

.info-row.highlight  strong {
   color: #04d9ff;
}

.award-list li{
   color: #94a3b8;
   margin-bottom: 10px;
}

