.lexend-deca-Font {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    background: #26425a;
}

section{
   scroll-margin-top: 60px ;
   height: 100vh;
}

 .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background: #2C576E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

 .navbar a{
    position: relative;
    font-size: 18px;
    color: #d9b48f; 
    /*color:#4a7c9c ;*/
    font-weight: 400;
    text-decoration: none;
    margin-left: 20px;
 }

 .navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #4a7c9c;
    transition: .3s;
 }

 .navbar a:hover::before {
    width: 100%;
 }

 /*contenido*/

.main {
   margin: 140px 127px 20px 127px;
    /*padding: 50px 50px;*/
   width: 80vw;
   height: 80vh;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   scroll-margin-top: 60px;
}


.img{
    padding-left: 60px;
}

 .img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, );
 }

 .contenido{
    margin: 85px 15px 100px 80px;/* top right bottom left */
 }

 .contenido h1{
    font-size: 3em;
    color: white;
 }

.contenido p {
    margin: 5px;
    color: white;
}

 .contenido span{
    color: #d9bda5;
 }

 .download-cv{
   padding: 10px 20px;
   background-color: #6DAEDB;
   border: none;
   border-radius: 20px;
   margin-top: 10px;
   cursor: pointer;
   box-shadow: 1px 3px 11px -5px rgba(109, 174, 219, 1);
 }

 .download-cv:hover{
   background-color:#7ea8c7;
   box-shadow: none;
 }

/*Sección de sobre mi*/
 /* .sobre_mi{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: 90vw;
   align-items: center;
 } */

 .sobre_mi .contenido{
   /* grid-column: 5/10; */
   padding: 2px 105px;
   display: flex;
   flex-direction: column;
   align-items: flex-start; 
   text-align: center;
 }

 .sobre_mi_contenido {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;/* Espacio entre la imagen y el texto */
 }

.sobre_mi h2{
   font-size: 2em;
   color: #fff;
}

.sobre_mi img{
   height: 478px;
   width: 320px;
   padding: 10px;
}

.sobre_mi p {
   color: #fff;
   font-size: 17px;
   text-align: left;
   max-width: 600px;
}

.divider{
   height: 4px;
   width: 120px;
   background-color: #d9b48f;
   margin-top: 10px 0 0 0;
   margin-bottom: 2em;
  
}

/*Sección de habilidades*/
.habilidades-heading {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 2px 0px 2px 103px;
   margin-top: 80px;
   margin-left: 105px;
}

.habilidades-heading h2 {
   font-size: 2em;
   color: white;
}

.habilidades-heading p {
   color: white;
   font-size: 17px;
}

/*Sección de habilidades con iconos*/
/* .icon-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   flex-wrap: wrap;
   margin-top: 50px;
} */
 .icon-container {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos salten a la siguiente fila */
    justify-content: center;
    /* Centra los íconos horizontalmente */
    gap: 20px;
    /* Espacio entre íconos */
    margin-top: 50px;
 }

.icon-item{
   flex: 0 1 20%;
   margin: 10px;
   text-align: center;
}

.icon-item img{
   width: 80px;/* Tamaño del ícono */
}

.icon-item p {
   margin-top: 10px;
   font-size: 16px;
   color: #fff;
}

/*Sección de portafolio*/
.portfolio-heading {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 2px 0px 2px 103px;
   margin-top: 80px;
   margin-left: 105px;
}

.portfolio-heading h2 {
   font-size: 2em;
   color: white;
}

.portafolio .cotenedor{
   width: 80vw;
   height: 80vh;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

.card{
   width: 300px; 
   height: 420px;
   background-color: #4d7ca5;
   margin: 1em;
}

.card_img{
   width: 100%;
   height: 150px;
   background-image: url(/img/HR.JPG);
   background-size: 300px 160px;
}

.card_img-Cake-Byte {
   width: 100%;
   height: 150px;
   background-image: url(/img/Logo\ Cake_Byte.png);
   background-size: 300px 190px;
   background-color: #899ca8
}

.card_img-Store-Stock {
   width: 100%;
   height: 150px;
   background-image: url(/img/StoreStock.JPG );/*PONER LA IMAGEN*/
   background-size: 300px 190px;
}

.card_title{
   padding: 20px;
   color: #fff;
}

.project_link{
   display: flex;
   justify-content: space-evenly;
}

.project_link a{
   color: #fff;
   text-decoration: none;
}

.project_link i{
   font-size: 1.5em;
}


/*Sección de formulario de contacto*/
/* .contact-headings {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 2px 0px 2px 103px;
   margin-top: 80px;
   margin-left: 105px;
} */

/* .contact-headings h2 {
   font-size: 2em;
   color: white;
} */

/* .contenedor-contacto{
   display: flex;
   justify-content: center;  
} */

/* .contact-form h4{
   color: #fff;
   font-size: 20px;
} */

/* .form-control{
   display: flex;
   flex-direction: column;
   width: 600px;
   text-align: center;
   margin-top: 2em;
} */

/* .input-group {
   display: flex;
   flex-direction: column;
   gap: 12px;
    Espacio entre los inputs 
} */

/* .input-group .item {
   flex: 1;
   Ambos campos ocupan el mismo espacio 
} */

/* form .item{
   width: 100%;
   padding: 18px;
   background: transparent;
   border: 2px solid #0ef;
   outline: none;
   border-radius: 6px;
   font-size: 16px;
   color: #ededed;
   margin: 12px 0;
}

.form-control .item::placeholder{
   color: rgba(255, 255, 255, .3);
} */

/* .form-contro .input-group .error-txt{
   font-size: 14.5px;
   color: #d93025;
   text-align: left;
   margin-top: 4px;
   margin-bottom: 0; */
   /*margin: -5px 0 10px ;*/
   /* display: none; */ 
   /* position: static; */
      /* Cambia de posición absoluta a relativa */
   /*top: 0;*/
/* } */

/* form .textarea .item{

   resize: none;
   height: 180px;
}

form .textarea .error-txt{
   margin-top: -10px;
}

 form .btn-Enviar{
   display: block;
   margin: 20px auto 0 auto;
   text-align: center;
   width: 200px;
   padding: 12px 32px;
   background: #0ef;
   outline: none;
   border: none;
   border-radius: 6px;
   box-shadow: 0 0 10px #0ef;
   font-size: 16px;
   color: #333;
   letter-spacing: 1px;
   font-weight: 600;
   cursor: pointer;
   margin-top: 20px;
   transition: .4s;
} 

form .btn-Enviar:hover{
   box-shadow: none;
}
 */

 footer{
   width: 100%;
   position: relative;
   bottom: 0;
   left: 0;
   padding: 2rem ;
   background-color: #2C576E;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
 }

footer .inicio a {
   text-decoration: none;
   color: #fff;
}

.inicio h3 {
   text-align: center;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%; 
 }

 .contact-icons-container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   /* margin-bottom: 1rem; */
 }

 .social-icons{
   height: 50px;
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   text-align: center;
   border: none;
   text-decoration: none;
 }

 footer .social-icons i {
   font-size: 30px;/* Ajusta el tamaño a lo que necesites */
   margin: 0;/* Espaciado entre los íconos */
   color: #fff;/* Color de los íconos (puedes cambiarlo) */
   transition: color 0.3s ease;/* Efecto de transición para el cambio de color */
 }