.lexend-deca-Font {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    background: #26425a;
}

 .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background: #2C576E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

 .navbar a{
    position: relative;
    font-size: 18px;
    color: #d9b48f; 
    /*color:#4a7c9c ;*/
    font-weight: 400;
    text-decoration: none;
    margin-left: 20px;
 }

 .navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #4a7c9c;
    transition: .3s;
 }

 .navbar a:hover::before {
    width: 100%;
 }

 /*contenido*/

.main {
   margin: 140px 127px 20px 127px;
    /*padding: 50px 50px;*/
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


.img{
    padding-left: 60px;
}

 .img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, );
 }

 .contenido{
    margin: 85px 15px 100px 80px;/* top right bottom left */
 }

 .contenido h1{
    font-size: 3em;
    color: white;
 }

.contenido p {
    margin: 5px;
    color: white;
}

 .contenido span{
    color: #d9bda5;
 }

 .download-cv{
   padding: 10px 20px;
   background-color: #6DAEDB;
   border: none;
   border-radius: 20px;
   margin-top: 10px;
   cursor: pointer;
   box-shadow: 1px 3px 11px -5px rgba(109, 174, 219, 1);
 }

 .download-cv:hover{
   background-color:#7ea8c7;
   box-shadow: none;
 }

 .experiencia{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: 90vw;
   align-items: center;
 }

 .experiencia{
   grid-column: 5/10;
   padding: 2px 105px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;   
 }

.experiencia h2{
   font-size: 2em;
   color: #fff;
}

.divider{
   height: 4px;
   width: 120px;
   background-color: #d9b48f;
   margin-top: 10px 0 0 0;
   margin-bottom: 2em;
  
}

.portfolio-heading {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 2px 0px 2px 103px;
   margin-top: 80px;
   margin-left: 105px;
}

.portfolio-heading h2 {
   font-size: 2em;
   color: white;
}

.portafolio .cotenedor{
   width: 80vw;
   height: 80vh;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

.card{
   width: 300px; 
   height: 420px;
   background-color: #4d7ca5;
   margin: 1em;
}

.card_img{
   width: 100%;
   height: 150px;
   background-image: url(/img/HR.JPG);
   background-size: cover;
}

.card_img-Cake-Byte {
   width: 100%;
   height: 150px;
   background-image: url(/img/Logo\ Cake_Byte.png);
   background-size: cover;
}

.card_img-Store-Stock {
   width: 100%;
   height: 150px;
   background-image: url(/img/Logo\ );/*PONER LA IMAGEN*/
   background-size: cover;
}

.card_title{
   padding: 20px;
   color: #fff;
}

.project_link{
   display: flex;
   justify-content: space-evenly;
}

.project_link a{
   color: #fff;
   text-decoration: none;
}

.project_link i{
   font-size: 1.5em;
}

.contact-headings {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 2px 0px 2px 103px;
   margin-top: 80px;
   margin-left: 105px;
}

.contact-headings h2 {
   font-size: 2em;
   color: white;
}

.contenedor-contacto{
    /*no se que hace con esto*/
}

.form-control{
   display: flex;
   flex-direction: column;
   width: 30vw;
   margin-top: 2em;
}
 
